<p style="color: green"><%= notice %></p>

<h1>Forums</h1>

<div id="forums">
  <% @forums.each do |forum| %>
    <%= render forum %>
    <p>
      <%= link_to "Show this forum", forum %>
    </p>
    <% subscription = Subscription.find_by(forum_id: forum.id, user_id: @current_user.id) %>
  
  <% if subscription.present? %>
    <%= link_to "Show this subscription", subscription_path(subscription) %>
  <% else %>
    <%= link_to "Subscribe", new_forum_subscription_path(forum) %>
  <% end %>
  <% end %>
</div>


<%= link_to "New forum", new_forum_path %>
